<div class="container">
  <div class="dashboard">
    <div>
      <app-left-panel></app-left-panel>
    </div>
    <div class="top-ques">
      <div class="heading-ques">
        <h3>Top Questions</h3>
        <div class="right-side">
          <button class="btn btn-primary ask-btn">Ask Questions</button>
          <div class="filter-div">
            <a>All</a>
            <a>Today</a>
            <a>Week</a>
            <a>Month</a>
          </div>
        </div>
      </div>
      <section class="question-section">
        <div class="all-ques">
          <div class="votes">
            <p>10 votes</p>
            <p>5 Answers</p>
            <p>8k Views</p>
          </div>
          <div class="ques-title">
            <p>What is Angular ? Explain In Details.</p>
            <div>
              <a>#angular</a>
              <a>#typescript</a>
              <a>#js</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
